.contact-section {
  text-align: center;
  margin-top: 230px;
  margin-bottom: 210px;
  color: white;
}

.contact-section h2 {
  font-size: 2.2rem;
  margin-bottom: -10px;
}

.contact-section p {
  font-size: 1.15rem;
  margin-bottom: 45px;
}

/* Form Styling */
.contact-form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-family: inherit;
  font-size: 16px;
}

.contact-form input:focus,
.contact-form input:active,
.contact-form textarea:focus,
.contact-form textarea:active {
  border: 1px solid #ccc;
  outline: none;
}

.contact-form textarea {
  height: 100px;
  width: 100%;
  resize: none;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.contact-form button:hover {
  background-color: #216e8a;
}

.contact-form button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.contact-status {
  margin: 0;
  font-size: 0.95rem;
}

* {
  box-sizing: border-box;
}
