.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
  text-align: center;
}

.social-links {
  display: flex;
  gap: 20px;
  margin-bottom: -15px;
}

.social-links a {
  font-size: 50px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #8d8d8d;
}

.copyright {
  font-size: 14px;
  opacity: 0.8;
}
