html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html.scrollbarDragging,
html.scrollbarDragging body {
  scroll-behavior: auto;
}

#content {
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.header-text {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}
